<%= erb :'layouts/_header' %>

  <h1>Pigeons</h1>

  <!-- show a table that lists all pigeons here -->
  <ul>
    <% @pigeons.each do |pigeon| %>
      <li><%= link_for(pigeon) %></li>
    <% end %>
  </ul>

  <a class="button" href="/pigeons/new">New Pigeon</a>

<%= erb :'layouts/_footer' %>
